html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: url('../assets/cursor/cursor.png'), auto;
}

html {
  height: 100%;
}

body {
  font-family: 'VT323', monospace;
  min-height: 100%;
  background-image: linear-gradient(#fff1f1, #dcd0ef);
  background-attachment: fixed;
}


.pop-up {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  width: 300px;
  background: wheat;
  transform: scale(1);
  transition: transform 0.4s;
  min-height: 150px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.hidden {
    visibility: hidden;
  }

  /*
  &:hover {
    visibility: show;
    transform: scale(1.0);
  }
  */
  .subtitle {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.container-endgame {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    content: '';
    opacity: 0.8;
  }
}

h1 {
  font-family: 'VT323', monospace;
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-align: center;
  font-family: 'VT323', monospace;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 600px;
  min-height: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
  position: relative;
  padding: 0;
  padding: 20px;

  .card {
    overflow: hidden;
    height: 125px;
    width: 125px;
    background-color: transparent;
    font-size: 0;
    color: #ffffff;
    cursor: url('../assets/cursor/cursor-hover.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    .content {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      transform-style: preserve-3d;

      &.show {
        transform: rotateY(180deg);
      }

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        &.matched {
          position: relative;

          &:after {
            content: 'MATCHED';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: pink;
            opacity: 0.8;
            top: 0;
            left: 0;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .front {
        background-color: dodgerblue;
        color: black;
      }

      .back {
        color: white;
        transform: rotateY(180deg);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &:active {
            border: 5px solid white;
          }
        }

      }
    }

    &:hover {
      .content {
        transform: rotateY(180deg);
      }
    }
  }

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #d9dffff5;
    padding: 32px;
    margin: 0 0 3em;
    border-radius: 10px;
  }

  &.hide-cover {
    &:after {
      display: none;
    }
  }
}

/*
 * Styles for the Score Panel
 */
.button {
  float: right;
  background-color: pink;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 3px;

  &:active {
    background-color: dodgerblue;
  }
}

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  border-bottom: 5px dashed pink;
  min-width: 400px;
  padding-left: 20px;
  padding: 0px 20px 20px 20px;

  .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;

    li {
      list-style: none;
      display: inline-block;
    }
  }
}